*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #c8f0f9;
}

body{
	font-family: sans-serif;
	min-height: 100vh;
	color: #555;
}

table{
	width:  1000px;
	margin: 30px auto;
}

table th{
	padding: 10px 0;
	background-color: #a5f53d;
	/* background-color: #fff; */
	border:  thin solid #cb3131;
}

table td{
	padding: 10px;
	border:  thin solid #792727;
	width: 18%;
	text-align: center;
	background-color: #fff;
}


table td.total-price{
	font-weight: bold;
	font-size: 22px;
}
table a{
	text-decoration: none;
	color: rgb(231, 19, 19);
	background-color: #ffffff;
	
}
table a:active{
	background-color: #ccf4d6;
	color:  green;
}

table select{
	padding: 10px;
	width:  200px;
	font-size: 16px;
	border: thin solid #cc0f0f;
	background-color: transparent;
}
table select:focus{
	outline: none;
}



#banner {
	width: 550px;
	height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border: 3px  solid rgb(132, 189, 230) ;
	border-radius: 15px;
	
}
#pageTitle {
	text-align:center;
	margin-top: 20px;
}

#refresh{
	width: 130px;
	height: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
    background-color:#b059e6;
    color: #fff;
    border:none; 
    border-radius:10px; 
    
}

#datetime{
	color: #e0ed86;
	background: #003c41;
	font-family: "Segoe UI", sans-serif;
	width: 330px;
	padding: 10px;
	border: 3px solid #83c0ee;
	border-radius: 5px;
	transition: 0.5s;
	transition-property: background, box-shadow;
	margin: auto;
	text-align: center;
  }

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.wrap{
  width:20%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#symbolInput {
	width: 100%;
	border: 3px solid #00B4CC;
	padding: 5px;
	height: 36px;

	border-radius: 5px 0 0 5px;
	outline: none;
	color: #9DBFAF;
  }
  #searchButton {
	position:fixed;
	margin-left: 10px;
	width: 80px;
	height: 36px;
	border: 1px solid #00B4CC;
	background: #00B4CC;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
  }
  #txt{
	text-align: center;
	font-size: 20px;
	color: #8e7e02;
  }